$content-width: 800px;
$main: black;
$font-style: 'Cousine', courier;
$font-color: black;
$link-color: #425469;
$link-hover-color: $main;
$heading-font: 'Work+Sans', courier;
$heading-font-color: red;
$light: #E7EDF4;
$header:  white;

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}