html {
	background: url(../images/crane_prairie.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html, body {
	height: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: white;
	font-family: 'Cutive Mono', monospace;
	background-color: rgba(0,0,0,0.5);
}

#wrapper {
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

img {
	max-width: 100%;
	height: auto;
}

/*--- HEADER ------------------------------------------------------------------*/
header {
	width: 100%;
	height: 10%;
	border-bottom: 1px solid white;
	position: relative;
}

#nav-bar {
	height: 25%;
	margin: 0;
	padding: 0;
	width: 20%;
	float: right;
	margin-right: 5%;
	position: absolute;
	bottom: 0;
	right: 0;
}

.nav-bar-items {
	height: 100%;
	float: left;
	color: white;
	list-style-type: none;
	width: 46%;
	float: left;
	text-align: center;
}

.nav-bar-items:hover {
	border-bottom: 3px solid #18aed4;
}

#home-button {
	position: fixed;
	top: 10px;
	left: 15px;
}

/*--- CONTENT -----------------------------------------------------------------*/
#content {
	height: 89%;
	position: relative;
}

.centered {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#title {
	font-size: 5rem;
	text-align: center;
	width: 100%;
}

#sub-title {
	font-size: 50%;
}


/*--- FOOTER ------------------------------------------------------------------*/
footer {
	height: 30%;
	width: 100%;
	position: absolute;
	bottom: 0;
}

#social-container {
	height: 100%;
	width: 50%;
	margin: auto;
}

.social-icons {
	height: 100%;
	width: 49%;
	float: left;
}

.social-icons img {
	margin: auto;
	display: block;
}

.social-icons:hover {
	filter: opacity(50%);
}

/*--- ABOUT -------------------------------------------------------------------*/
.half-container {
	height: 100%;
	width: 49%;
	float: left;
}

#photo-container {
	width: 80%;
	margin: auto;
	margin-top: 10%;
}

#about-me {
	width: 80%;
	margin: auto;
	margin-top: 10%;
	border-top: 5px solid white;
}

#about-me h2 {
	font-size: 2em;
}

#about-me p {
	font-size: 1.2em;
}

#about-me a {
	color: #18aed4;
	text-decoration: none;
}

/*--- CONTACT------------------------------------------------------------------*/
#single-container {
	height: 100%;
	max-width: 600px;
	min-width: 380px;
	margin: auto;
	border: 1px solid transparent;
}

#contact-header {
	width: 80%;
	height: 50px;
	display: block;
	margin: auto;
	margin-top: 10%;
	font-size: 2em;
}

#form-container {
	width: 80%;
	height: 80%;
	margin: auto;
	border-top: 5px solid white;
}

form {
	margin-top: 5%;
}

.form-field {
	width: 100%;
	margin-top: 10px;
}

#form-field-message {
	height: 180px;
}

input[type='text'] {
	appearance: none;
	box-shadow: none;
	border-radius: none;
	float: right;
	width: 70%;
	border: none;
	border-bottom: 2px solid gray;
	transition: border 0.4s;
	font-family: 'Cutive Mono', monospace;
	font-size: 1em;
}

input[type='text']:focus {
	outline: none;
	border-bottom: 2px solid #18aed4;
}

textarea {
	float: right;
	width: 70%;
	appearance: none;
	box-shadow: none;
	border-radius: none;
	border: none;
	border-bottom: 2px solid gray;
	transition: border 0.2s;
	font-family: 'Cutive Mono', monospace;
	font-size: 1em;
}

textarea:focus {
	outline: none;
	border-bottom: 2px solid #18aed4;
}

#submit-container {
	width: 70%;
	float: right;
	margin-top: 20px;
}

#submit-button {
	width: 150px;
	display: block;
	height: 40px;
	background-color: transparent;
	border: 1px solid white;
	border-radius: 5px;
	color: white;
	font-size: 1em;
	float: right;
	font-family: 'Cutive Mono', monospace;
}

#submit-button:hover {
	color: #18aed4;
	border: 1px solid #18aed4;
	background-color: black;
}


/*--- MEDIA QUERIES -----------------------------------------------------------*/

@media screen and (max-width: 600px) {
	#title {
		font-size: 3rem;
	}

	#nav-bar {
		width: 40%;
	}

	textarea {
		width: 60%;
	}

	input[type='text'] {
		width: 60%;
	}
}

















